services:
  postgres:
    image: postgres:17
    container_name: webchat-postgres
    restart: always
    environment:
      POSTGRES_DB: webchat
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: